@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Permanent+Marker&display=swap');

body {
    background-color: burlywood;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: "Permanent Marker", cursive; 
}